### Concat multiple files from a directory into a single file

In [35]:
import os
import pandas as pd

In [90]:
df=pd.read_csv("./ari_test/new/iris.setosa.csv")
df.head()

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [91]:
path=("./ari_test/new/iris.setosa.csv")

In [92]:
files=[file for file in os.listdir(path)]

In [93]:
print(files)

['Iris-versicolor.csv', 'Iris-virginica.csv', 'iris.setosa.csv']

In [94]:
all_file=pd.DataFrame()
for file in files:
    df=pd.read_csv("./ari_test/new/"+file)
    all_file=pd.concat([all_file,df])

In [95]:
all_file.head()

   sepallength  sepalwidth  petallength  petalwidth            class
0          7.0         3.2          4.7         1.4  Iris-versicolor
1          6.4         3.2          4.5         1.5  Iris-versicolor
2          6.9         3.1          4.9         1.5  Iris-versicolor
3          5.5         2.3          4.0         1.3  Iris-versicolor
4          6.5         2.8          4.6         1.5  Iris-versicolor

## Save the concatenated file in the current working directory

In [98]:
all_file.to_csv("all_file1.csv",index=False)