# Basic things to do while working on large datasets

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
%matplotlib inline

Wall time: 10.6 s

### Time taken to read a dataset

In [17]:
%%time
df = pd.read_csv(r"F:\organics.csv")

Wall time: 68 ms

###### Reading selected rows using nrows

In [25]:
%%time
df1 = pd.read_csv(r"F:\organics.csv",nrows=10000)

Wall time: 29 ms

###### Reading selected columns using usecols

In [23]:
df.columns

Index(['ID', 'DemAffl', 'DemAge', 'DemCluster', 'DemClusterGroup', 'DemGender',
       'DemReg', 'DemTVReg', 'PromClass', 'PromSpend', 'PromTime', 'TargetBuy',
       'TargetAmt'],
      dtype='object')

In [22]:
columns=['DemClusterGroup', 'DemGender',
       'DemReg', 'DemTVReg', 'PromClass']

In [26]:
%%time
df2=pd.read_csv(r"F:\organics.csv",usecols=columns)

Wall time: 47 ms

### Memory usage

In [8]:
df.memory_usage(deep=True)

Index                  128
ID                  177784
DemAffl             177784
DemAge              177784
DemCluster          177784
DemClusterGroup    1357606
DemGender          1302466
DemReg             1434828
DemTVReg           1416253
PromClass          1369620
PromSpend           177784
PromTime            177784
TargetBuy           177784
TargetAmt           177784
dtype: int64

In [41]:
df.memory_usage(deep=True).sum()

8303173

In [29]:
%%time
df.head()

Wall time: 0 ns

,ID,DemAffl,DemAge,DemCluster,DemClusterGroup,DemGender,DemReg,DemTVReg,PromClass,PromSpend,PromTime,TargetBuy,TargetAmt
0,140,10.0,76.0,16.0,C,U,Midlands,Wales & West,Gold,16000.00,4.0,0,0
1,620,4.0,49.0,35.0,D,U,Midlands,Wales & West,Gold,6000.00,5.0,0,0
2,868,5.0,70.0,27.0,D,F,Midlands,Wales & West,Silver,0.02,8.0,1,1
3,1120,10.0,65.0,51.0,F,M,Midlands,Midlands,Tin,0.01,7.0,1,1
4,2313,11.0,68.0,4.0,A,F,Midlands,Midlands,Tin,0.01,8.0,0,0

In [27]:
%%time
df1.head()

Wall time: 1e+03 Âµs

,ID,DemAffl,DemAge,DemCluster,DemClusterGroup,DemGender,DemReg,DemTVReg,PromClass,PromSpend,PromTime,TargetBuy,TargetAmt
0,140,10.0,76.0,16.0,C,U,Midlands,Wales & West,Gold,16000.00,4.0,0,0
1,620,4.0,49.0,35.0,D,U,Midlands,Wales & West,Gold,6000.00,5.0,0,0
2,868,5.0,70.0,27.0,D,F,Midlands,Wales & West,Silver,0.02,8.0,1,1
3,1120,10.0,65.0,51.0,F,M,Midlands,Midlands,Tin,0.01,7.0,1,1
4,2313,11.0,68.0,4.0,A,F,Midlands,Midlands,Tin,0.01,8.0,0,0

In [28]:
%%time
df2.head()

Wall time: 1 ms

  DemClusterGroup DemGender    DemReg      DemTVReg PromClass
0               C         U  Midlands  Wales & West      Gold
1               D         U  Midlands  Wales & West      Gold
2               D         F  Midlands  Wales & West    Silver
3               F         M  Midlands      Midlands       Tin
4               A         F  Midlands      Midlands       Tin

In [39]:
df.memory_usage(deep=True)

Index                  128
ID                  177784
DemAffl             177784
DemAge              177784
DemCluster          177784
DemClusterGroup    1357606
DemGender          1302466
DemReg             1434828
DemTVReg           1416253
PromClass          1369620
PromSpend           177784
PromTime            177784
TargetBuy           177784
TargetAmt           177784
dtype: int64

In [40]:
df1.memory_usage(deep=True)

Index                 128
ID                  80000
DemAffl             80000
DemAge              80000
DemCluster          80000
DemClusterGroup    611060
DemGender          586430
DemReg             645970
DemTVReg           637556
PromClass          616157
PromSpend           80000
PromTime            80000
TargetBuy           80000
TargetAmt           80000
dtype: int64

In [38]:
df2.memory_usage(deep=True)

Index                  128
DemClusterGroup    1357606
DemGender          1302466
DemReg             1434828
DemTVReg           1416253
PromClass          1369620
dtype: int64